/*
 * = container
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

/*
 * =header
 */

.navbar {
  height: 50px;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-list-top {
  list-style-type: none;
  margin: 0 auto;
  height: 50px;
}

.navbar-list-item {
  display: inline;
}

.font-big {
  font-size: 0.833em;
  font-weight: 400;
}

.font-normal {
  font-size: 0.813em;
  font-weight: 100;
}

.item-right-top {
  position: relative;
  top: 3px;
  margin-right: 13px;
}

.item-right-top a:hover {
  text-decoration: underline;
}

.item-left-top {
  margin-left: 13px;
}

.navbar-list-item a {
  color: #262626;
  text-decoration: none;
}

.navbar-list-item img {
  display: inline-block;
}

.grey-top a {
  color: rgba(34, 34, 34, 0.7);
  cursor: default;
}

.grid,
.bell,
.photo {
  position: relative;
}

.grid,
.bell {
  opacity: 0.6;
}

.grid:hover,
.bell:hover {
  opacity: 1;
}

.grid {
  top: 10px;
  margin-right: 12px;
}

.bell {
  top: 12px;
  margin-right: 8px;
}

.photo {
  top: 15px;
  margin-right: 10px;
}

.navbar-list-item .photo img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.top-logo {
  height: 250px;
  clear: both;
}

.logo {
  position: relative;
  top: 134px;
  width: 271px;
  margin: 0 auto;
}

.nationality {
  position: absolute;
  top: 76px;
  left: 215px;
  color: #4285f4;
  font: 1em/1em roboto-regular, arial, sans-serif;
  white-space: nowrap;
}

/*
 * =main
 */

.main {
  height: 140px;
}

.main-form {
  position: relative;
  max-width: 585px;
  height: 100px;
  margin: 20px auto;
}

form.main-form p {
  margin: 0 auto;
  padding: 0;
}

.main-search input[type=text] {
  border: 1px solid rgba(160, 160, 160, .40);
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font: 1em sans-serif;
  font-weight: 400;
  outline: 0;
}

.main-search input[type=text]:focus,
.main-search input[type=text]:focus:hover {
  border: 1px solid #4285f4;
}

.main-search input[type=text]:hover  {
  border: 1px solid #a0a0a0;
}

.keyboard {
  position: absolute;
  top: 12px;
  right: 40px;
}

.microphone {
  position: absolute;
  top: 8px;
  right: 12px;
}

.microphone img {
  height: 24px;
  width: 24px;
}

.btn input[type="submit"] {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-size: 0.813em;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  outline: 0;
}

.btn input[type="submit"]:hover {
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(242, 242, 242, 0.5);
  box-shadow: .2px .7px .1px #ddd;
}

.btn input[type="submit"]:active:hover {
  border: 1px solid #4285f4;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(242, 242, 242, 0.3);
  box-shadow: none;
}

.btn {
  height: 80px;
}

.btn-search {
  float: left;
  margin-top: 25px;
  margin-left: 140px;
}

.btn-lucky {
  float: right;
  margin-top: 25px;
  margin-right: 140px;
}

/*
 * =footer
 */

.bg-grey {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  margin-top: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grey-bottom a {
  color: #666;
}

.grey-bottom a:hover {
  text-decoration: underline;
}

.grey-bottom a:active {
  color: red;
}

.bottom {
  height: 50px;
  margin: 0 auto;
}

.navbar-list-bottom {
  list-style-type: inline;
  padding: 0;
}

.item-right-bottom {
  margin-right: 20px;
}

.item-left-bottom {
  margin-left: 20px;
}
